.newsGrid {
    display: grid;
    grid-template-columns: repeat(2, 450px);
	gap: 30px 40px;
    padding: 40px;
    justify-content: center;
}
@media (max-width: 800px){
    .newsGrid {
        grid-template-columns: 100%;
    }
}