.container {
    /* justify-content: left; */
    list-style: none;
    /* ----------------- */
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    /* text-align: center; */
    /* ---------------- */
    border-radius: 10px;
    border: 1px solid #ccc;
     
}
.newsBoxContainer {
    display: flex;
    /* position: relative; */
    text-decoration: none;
    color: black;
    /* height: ; */
    /* box-sizing: border-box; */
    box-sizing: content-box;
    
}
.aBox{
    display: flex;
    flex-direction: column;
    width: 85%; 
    margin: 10px; 
    height: 100%;
    /* padding: 5px 50px 50px 10px;  */
    /* padding-right: 9px; */
    box-sizing: border-box;
}
.buttonFav {
    /* position: ; */
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    /* height: 100%; */
    border: none;
    height: 100px;
    /* max-height: 100%; */
    box-sizing: border-box;
    padding: 5%;
    border-radius: 0 10px 10px 0;
    margin-bottom: 0;
    min-height: 14vh;
}


.textStyle {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
}