body {
  margin: 55px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Text-Style {

  font-family: Baskerville;

  font-size: 28px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1;

  letter-spacing: normal;

  color: #3b3b3b;

}

.Text-Style-2 {

  font-family: Roboto;

  font-size: 16px;

  font-weight: 500;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.75;

  letter-spacing: normal;

  text-align: center;

  color: #1797ff;

}
